 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

  .top-cart{
    height: 400px;
    background-image: url('img/topcart.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
  }

  .heading-big {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 127px;
    margin-bottom: 127px;
    color: #FFFFFF;   
  }

  .cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    
   &__form {
    grid-column: span 4;
    background: #F7F6F6;
    border-radius: 20px;
    width: 343px;
    height: 556px;
    margin-left: 33px;
   }

   &__item {
    border-top: 0.5px solid #CACDD8;
    padding-top: 25px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   }

   &__left{
    display: flex;
    gap: 32px;
  }

   &__info {
    width: 276px;
    display: flex;
    flex-direction: column;
    gap: 14px;
   }

   &__name-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;  
   }
    
   &__ordering {
    margin-top: 42px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
   }

   &__box {
    padding-left: 28px;
   }
    
   &__content {
    grid-column: span 8;
   }

   &__price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
   }

   &__button {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
   } 

   &__button_shopping {
    border: 1px solid #000000;
    border-radius: 50px;
    width: 200px;
    height: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #fff;
    color: #020202;
    margin-top: 25px;
    margin-bottom: 64px;
    transition: background-color 1s;

   }

   &__button_shopping:hover {
    background-color: #000000;
    color: #FFFFFF;
  }

   &__product {
    margin-bottom: 64px;
   }

   &__number {
    width: 71px;
    height: 51px;
    background: #F7F6F6;
    border-radius: 6px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 210%;
    color: #000000;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
      
   }  

   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
       -webkit-appearance: none;
   }
   input[type='number'] {
       -moz-appearance: textfield;
   }
}


.contacts {
    border-bottom: 1px solid #CACDD8;
    width: 288px;
    margin-bottom: 44px;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #F7F6F6;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;   
}
    

.checkout {
   
    background: #F7F6F6;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 290px;
    animation: wobble-hor-bottom 0.8s 3s 2 both;
    margin: auto;
    display: block;
    border: 1px solid #000000;
    

   &:hover {
    background-color: #000000;
    color: #fff;
   }
    transition: background-color 1s;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 210%;
    text-decoration-line: underline;
    color: #000000;

   &:hover {
    text-decoration: none;
    }
}


.color__link {
    color: #000000;
    
}

